<script id="page3" type="text/html">    
    <div class="page" data-bind="visible: _visible">
        <h2 data-bind="text: _title"></h2>
        <button data-bind="click: jump">Next</button>
    </div>
</script>